body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-top: 40px;
}

.table-container {
  overflow-x: auto;
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

thead th:first-child {
  border-top-left-radius: 8px;
}
thead th:last-child {
  border-top-right-radius: 8px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

thead {
  background-color: #101010;
  color: #f5f5f5;
}

th {
  padding: 8px;
  border: 1px solid #f5f5f5;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

tbody>tr:hover {
  background-color: #eee;
}

td {
  padding: 8px;
  border: 1px solid #f5f5f5;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.pagination {
  text-align: center;
  margin-bottom: 40px;
}

.pagination-btn {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-btn:hover {
  background-color: #10101042;
}

.pagination-btn.active {
  background-color: #101010;
  color: #fff;
  font-weight: 700;
}